<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cengden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            background-color: #f8f9fa;
        }
        .navbar {
            margin-bottom: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        ul li {
            padding: 10px;
            background-color: #ffffff;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
        }
        ul li a {
            text-decoration: none;
            color: #007bff;
        }
        .pagination-container {
            text-align: center;
            margin-top: 20px;
        }
        .pagination-container a {
            margin: 0 5px;
        }
        .btn {
            cursor: pointer;
        }
        .nested-attributes {
            margin-left: 20px;
        }
        
        .nested-attributes .form-group {
            font-size: 0.9em; 
        }
        
        .parent-attribute > label:after {
            content: ""; 
        }
    </style>
</head>
{% macro display_attributes(attributes, exclude=[], is_owner=false, level=0) %}
    {% for attribute, value in attributes.items() %}
        {% if attribute not in exclude %}
            <div class="{{ 'nested-attributes' if level > 0 else '' }}" style="margin-left: {{ level * 20 }}px;">
                {% if attribute == 'lessons' and value is iterable %}
                    <!-- Special handling for 'lessons' attribute -->
                    <div class="form-group">
                        <label><b>{{ attribute.capitalize().replace('-', ' ').replace('_', ' ') }}:</b></label>
                        {% for lesson in value %}
                            <div style="margin-left: {{ level * 20 + 20 }}px;">
                                {% if is_owner %}
                                    <input type="text" name="{{ attribute }}[]" value="{{ lesson }}" class="form-control">
                                {% else %}
                                    <p>{{ lesson }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% elif value is mapping %}
                    <!-- Handling for nested attributes -->
                    <div class="form-group parent-attribute">
                        <label><b>{{ attribute.capitalize().replace('-', ' ').replace('_', ' ') }}:</b></label>
                        {{ display_attributes(value, exclude=exclude, is_owner=is_owner, level=level+1) }} <!-- Recursive call for nested attributes -->
                    </div>
                {% else %}
                    <!-- Default attribute display -->
                    <div class="form-group">
                        <label><b>{{ attribute.capitalize().replace('-', ' ').replace('_', ' ') }}{{ ':' if level > 0 else '' }}</b></label>
                        {% if is_owner %}
                            <input type="text" name="{{ attribute }}" value="{{ value }}" class="form-control">
                        {% else %}
                            <p>{{ value }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">CENGDEN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/all-items">All Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories/vehicles">Vehicles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories/phones">Phones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories/computers">Computers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories/private-lessons">Private Lessons</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <!-- Conditional rendering based on signed_in variable -->
                {%if signed_in%}
                    {%if is_admin%}
                        <li class="nav-item">
                            <a class="nav-link" href="/all-users">All Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {%else%}
                        <li class="nav-item">
                            <a class="nav-link" href="/favorites">Favorites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users-items">My Items</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/add-item">Add Item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {%endif%}
                {%else%}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {%endif%}
            </ul>
        </div>
    </nav>   
    
    <div class="container mt-4">
        {% if is_owner %}
            <form action="/item/{{ item._id }}" method="POST">
        {% endif %}
            <h2 class="mb-3">
                {% if is_owner %}
                    <input type="text" name="title" value="{{ item.title }}" class="form-control">
                {% else %}
                    {{ item.title }}
                {% endif %}
            </h2>
            <!-- Display the item's image if it exists -->
            <div class="row">
                {% if item.image %}
                    <img src="{{ item.image }}" alt="Item Image" class="img-fluid mb-3 ml-5" style="max-height: 400px;">
                {% endif %}
                
                <div class="col-md-6">
                    <!-- Recursive attribute display/editing -->
                    {{ display_attributes(item, exclude=['title', 'image', '_id', 'is_active', 'owner_id', 'favorites'], is_owner=is_owner) }}
                </div>
                <div class="col-md-6">
                    <p>Owner: {{owner_name}}</p>
                </div>
                {%if owner_email%}
                    <div class="col-md-6">
                        
                        <p>Email: {{owner_email}}</p>
                        <p>Phone: {{owner_phone}}</p>
                    </div>
                {%endif%}

            </div>
            
            {% if is_owner %}
                <button type="submit" class="btn btn-success">Update Item</button>
                </form>
            {% endif %}
            
            <p><a href="/" class="btn btn-primary">Back to Home</a></p>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    
</body>
</html>
